#imageContainer {
    max-width: 680px;
  }
  
  #imageContainer > img {
    width: 100%;
    height: auto;
  }
  
  .hidden {
    display: none;
  }
  
  main {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
  }

  body {
    background-image: url("./images/WaterSky.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }